.container {
    /* border: 2px solid red; */
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#counter {
    font-size: 34px;
}

button {
    font-size: 34px;
    padding: 10px 20px;
    margin: 10px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}